.App {
  text-align: center;
}
.slider {
  position: relative;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 750px;
  height: 450px;
  border-radius: 5px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 350px;
  font-size: 3rem;
  color: rgb(174, 93, 93);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 350px;
  font-size: 3rem;
  color: rgb(174, 93, 93);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

